body {

	background-image: url("http://images.naldzgraphics.net/2011/01/1-Geometric-Links-Blue.jpg");
	background-repeat: repeat;
 
}

h1 {
	color: white;
	background-color: #D2691E;
	display: inline;
	clear: both;
	margin-bottom: 20px;
	padding: 10px;
}

#wrapper {
	margin: 0 auto;
	width: 100%;
	max-width: 960px;
}

#instructions {
	color: green;
	background-color: #FFEBCD;
	width: 50%;
	clear: both;
	margin-top: 20px;
	padding: 15px;
}

#guessNumber {
	background-color: #00FF7F;
	float: left;
	display: inline-block;
	padding: 10px;
	margin-top: 10px;
}

#scoreboard {
	background-color: #00FFFF; 
	display: inline-block;
	padding: 10px 15px 10px 15px;
	margin-top: 10px;
	margin-left: 10px;
}

#crystals {
	margin-top: 15px;
	margin-bottom: 26px;
}

.crystalImage {
	height: 110px;
	margin-left: 10px
}

.crystalImage: firstchild {
	margin-left: 0px;
}

#totalScore {
	margin-bottom: 50px;
}

#yourTotalScore {
	background: #20B2AA;
	display: inline;
	padding: 20px;
	margin-top: 10px;
}

